@import "nullstyle";
@import "fonts";
@import "header";

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #181824;
}

.wrapper {
  height: 100%;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

h1 {
  color: white;
  font-size: 64px;
}

.AddForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40px;

  input {
    padding: 5px 15px;
    width: 77%;
    height: 100%;
    font-size: 100%;
    background-color: #25273c;
    color: rgba(255, 255, 255, 0.7);
  }

  button {
    height: 100%;
    width: 20%;
    background: rgba(90, 255, 49, 0.6);
    color: white;
  }
}

.list {
  width: 100%;

  ul {
    width: 100%;
    margin-top: 15px;
    li {
      margin: 5px 0px;
      display: flex;
      justify-content: space-between;
      background-color: #25273c;
      padding: 10px;
      align-items: center;

      p {
        color: white;
        max-width: 65%;
        word-break: break-all;
      }

      button {
        background-color: red;
        color: white;
        width: 100px;
        min-height: 25px;
      }
    }
  }
}

.main {
  padding-top: 50px;
}

@import "footer";
@import "media";
